<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="postatlantic.com">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <link href="{{"/bootstrap/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">
  <!-- Font Awesome CSS -->
  <link href="{{"/fonts/font-awesome/css/font-awesome.css" | prepend: site.baseurl }}" rel="stylesheet">
  <!-- Fontello CSS -->
  <link href="{{"/fonts/fontello/css/fontello.css" | prepend: site.baseurl }}" rel="stylesheet">
  <!-- Plugins -->
  <link href="{{"/plugins/magnific-popup/magnific-popup.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"/plugins/rs-plugin/css/settings.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"/css/animations.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"/plugins/owl-carousel/owl.carousel.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"/plugins/owl-carousel/owl.transitions.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"/plugins/hover/hover-min.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- the project core CSS file -->
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
  <link href="{{"/css/skins/light_blue.css" | prepend: site.baseurl }}" rel="stylesheet">
  <!-- Custom css -->
  <link href="{{"/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">
</head>

