<!-- page-wrapper end -->
<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src="{{"/plugins/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{"/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<!-- Modernizr javascript -->
<script type="text/javascript" src="{{"/plugins/modernizr.js" | prepend: site.baseurl }}"></script>
<!-- jQuery Revolution Slider  -->
<script type="text/javascript" src="{{"/plugins/rs-plugin/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{"/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}"></script>
<!-- Isotope javascript -->
<script type="text/javascript" src="{{"/plugins/isotope/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
<!-- Magnific Popup javascript -->
<script type="text/javascript" src="{{"/plugins/magnific-popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
<!-- Appear javascript -->
<script type="text/javascript" src="{{"/plugins/waypoints/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
<!-- Count To javascript -->
<script type="text/javascript" src="{{"/plugins/jquery.countTo.js" | prepend: site.baseurl }}"></script>
<!-- Parallax javascript -->
<script src="{{"/plugins/jquery.parallax-1.1.3.js" | prepend: site.baseurl }}"></script>
<!-- Contact form -->
<script src="{{"/plugins/jquery.validate.js" | prepend: site.baseurl }}"></script>
<!-- Background Video -->
<script src="{{"/plugins/vide/jquery.vide.js" | prepend: site.baseurl }}"></script>
<!-- Owl carousel javascript -->
<script type="text/javascript" src="{{"/plugins/owl-carousel/owl.carousel.js" | prepend: site.baseurl }}"></script>
<!-- SmoothScroll javascript -->
<script type="text/javascript" src="{{"/plugins/jquery.browser.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{"/plugins/SmoothScroll.js" | prepend: site.baseurl }}"></script>
<!-- Initialization of Plugins -->
<script type="text/javascript" src="{{"/js/template.js" | prepend: site.baseurl }}"></script>
<!-- Custom Scripts -->
<script type="text/javascript" src="{{"/js/custom.js" | prepend: site.baseurl }}"></script>
